.headerButtons {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
    align-content: stretch;
    background-color: darkblue;
    width: 100%;
    padding-top: 16px;
}

.collapsePanels {
    background-color: darkgray;
    font-weight: bold;

}

.modal {
    height: 60vh;
    width: 80vw;
    
}

.inputs {
    margin: 5px;
}

.textAreas {
    height: 40vh;
    width: 80vw;
}
.deleteButton {
    float: right;
}

.editButton {
    float: left;
}